body{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
}
a{
    border: 2px solid white;
    color: white;
    font-family: sans-serif;
    font-size: 2em;
    letter-spacing: 4px;
    padding: 20px 40px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1.0s;
}
a:hover{
    color: purple;
}
a:before{
    background: purple;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease;
    width: 100%;
    z-index: -1;
}
a:hover:before{
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease 
}